<% wrap_layout :layout do %>
<div class="container typology">
  <div class="content-area">
  <%= yield %>
    <% if current_page.data.title == 'publications' %>
      <section>
        <figure>
          <p>
            <%= image_tag 'publication.png' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Books', base_url + 'publications/books/' %>
        </h2>
        <p>
          lone goose press owner Sandy Tilcock achieved recognition as a bookbinder and designer of limited­edition books prior to her introduction to letterpress printing. Her books reflect her priority for honoring the text. All the elements— typography, design, imagery, materials and binding methods are integrated in service to the author’s words. lone goose press books are conceived as collaborations with authors, and where commissioned artwork is used, with artists. Sandy’s limited edition books have achieved international recognition for their design, creative use of materials, precise typography and attention to detail.
      </p>
      <h5 class="center-text"><a href="#">View All Projects</a></h5>

      </section>

      <section>
        <figure>
          <p>
            <%= image_tag 'design.png' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Broadsides', base_url + 'publications/broadsides/' %>
        </h2>
        <p>
          From the earliest days of movable type, printers have worked with the limits presented by the size and format of the press, producing a single sheet of printed paper at a time. While this process was quickly adapted for the printing of books, the single­sheet format was often used for official announcements and proclamations. As the technology became more widely available, it also became a vehicle for polital agitaion. Dissident printers in back­alley shops sometimes cranked out calls for insurrection or reproduced scaffold speeches by condemned prisoners. The term broadside continues to carry the connotation of challenging the prevailing stuctures of power and ideology.
        </p>
        <p>
          While lone goose press’s approach to broadsides may be more reflective than inflammatory, we tend to seek poems or short prose essays that challenge us to perceive a deeper understanding of citezenship in this world.
        </p>
        <h5 class="center-text"><a href="#">View All Projects</a></h5>

      </section>

      <section>
        <figure>
          <p>
            <%= image_tag 'Press_Crank.jpg' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Poetic Prayer Flags', base_url + 'publications/prayer-flags/' %>
        </h2>
        <p>
          This special project of the press brings together brief pieces of writing by various authors in a format inspired by the Tibetan tradition of prayer flags. The writings may be new or excerpted from previous works. We ask the authors to consider themes of hope, peace, reconciliation, and respect for nature. The series is ongoing, each piece having the same format so that several flags may be strung ogether. This effort springs from a desire to cultivate visions for the future that counterbalance the despair and cynicism that often seem to prevail in our society.
        </p>
        <h5 class="center-text"><a href="#">View All Projects</a></h5>

      </section>

      <section>
        <figure>
          <p>
            <%= image_tag 'Ink_Can.jpg' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Ephemera', base_url + 'publications/ephemera/' %>
        </h2>
        <p>
          Some lone goose press publications take the form of small booklets or chapbooks. In earlier centuries such inexpensive works, featuring illustrated poems and stories, were sold by itinerant peddlers, outside the mainstream of commercial book production. Keepsakes may be various kinds of small, intimate printed items produced in editions for specific events, or just for the sheer pleasure of setting ink on paper. The press also produces ephemera such as our traditional “Weathergrams” which are shared among friends and may be given to guests at studio events or receptions.
        </p>
        <h5 class="center-text"><a href="#">View All Projects</a></h5>
      </section>

    <% elsif current_page.data.title == 'services'%>
      <section>
        <figure>
          <p>
            <%= image_tag 'Standing_Press.jpg' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Design Services', base_url + 'services/design/' %>
        </h2>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <h5 class="center-text"><a href="#">View All Projects</a></h5>

      </section>

      <section>
        <figure>
          <p>
            <%= image_tag 'Inking_Plate.jpg' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Production Services', base_url + 'services/production/' %>
        </h2>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <h5 class="center-text"><a href="#">View All Projects</a></h5>

      </section>

      <section>
        <figure>
          <p>
            <%= image_tag 'Stack_of_Prints.jpg' %>
          </p>
        </figure>
        <h2>
          <%= link_to 'Publication Services', base_url + 'services/publication/' %>
        </h2>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <h5 class="center-text"><a href="#">View All Projects</a></h5>
      </section>
    <% else %>
      <p>Sorry, we don't really know what your looking for.</p>
    <% end %>
  </div>
</div>
<% end %>