<article>
  <h3 >
    <a href="<%= article.url %>"><%= article.title %></a>
  </h3>
  <p>
    <span><%= article.data.author %> – </span>
    <time><%= article.date.strftime('%b %e %Y') %></time>
  </p>
  <p><%= article.data.summary %></p>
  <h5 class='center'>
    <a href="<%= article.url %>">Read more</a>
  </h5>
</article>
<hr>
