<div class="drawer-nav drawer-top">
  <div class="container">
    <div class="nav-index content-area">
      <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'About the Press', base_url + 'about/' %></li>
        <li><%= link_to 'Publications', base_url + 'publications/' %>
          <ul>
            <li><%= link_to 'Broadsides', base_url + 'publications/broadsides/' %></li>
            <li><%= link_to 'Books', base_url + 'publications/books/' %></li>
            <li><%= link_to 'Poetic Prayer Flags', base_url + 'publications/prayer-flags/' %></li>
            <li><%= link_to 'Chapbooks, Ephemera', base_url + 'publications/ephemera/' %></li>
          </ul>
        </li>
        <li><%= link_to 'Commision Work', base_url + 'services/' %>
          <ul>
            <li><%= link_to 'Design Service', base_url + 'services/design/' %></li>
            <li><%= link_to 'Production Services', base_url + 'services/production/' %></li>
            <li><%= link_to 'Publication Services', base_url + 'services/trade-publication/' %></li>
          </ul>
        </li>
        <li><%= link_to 'Blog', base_url + 'blog/' %></li>
        <li><%= link_to 'Contact', base_url + 'contact/' %></li>
        <li><%= link_to 'Cart / Orders', base_url + 'contact/' %></li>
      </ul>
    </div>
  </div>
</div>