<p class="center-text">
  <%= link_to 'Home', '/' %> |
  <%= link_to ' About the Press', base_url + 'about/' %> |
  <%= link_to ' Publications', base_url + 'publications/' %> |
  <%= link_to ' Services', base_url + 'services/' %> |
  <%= link_to ' Blog', base_url + 'blog/' %> |
  <%= link_to ' Contact', base_url + 'contact/' %>
</p>