<section class="col col-12 tablet-col-24">
  <% blog.articles[0...1].each do |article| %>
    <article>
      <h1>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h1>
      <time><%= article.date.strftime('%b %e %Y') %></time>
      <p><%= article.summary %></p>
      <a href="<%= article.url %>">Read more</a>
    </article>
  <% end %>
  <%= link_to "View All Blog Posts", base_url + 'blog/' %>
</section>