<section class="block preview-section">
  <% blog.articles[0...1].each do |article| %>
    <article>
      <h4>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h4>

      <p>
        <span>By <%= article.data.author %></span> on <time><%= article.date.strftime('%b %e %Y') %></time>
        <%= article.data.summary %>

      <a href="<%= article.url %>">Read more</a>
      </p>
    </article>
  <% end %>

  <h5 class="center">
    <%= link_to "View All Blog Posts", base_url + 'blog/' %>
  </h5>

</section>