<nav class="clearfix">
  <div class="container">
    <ul class="left horizontal-nav">
      <li><%= link_to 'press', '/' %></li>
      <li><%= link_to 'publications', '/publications' %></li>
      <li><%= link_to 'services', '/services' %></li>
    </ul>
    <ul class="right horizontal-nav">
      <li><%= link_to 'about', '/about' %></li>
      <li><%= link_to 'blog', '/blog' %></li>
    </ul>
  </div>
</nav>