<% if publication.data.title %>
<div class="block">

  <% if publication.data.thumbnail %>
    <figure>
      <% link_to publication.url do %>
        <%= image_tag publication.data.thumbnail %>
      <% end %>
    </figure>
  <% end %>

  <h3 class='center'><%= link_to publication.data.title, publication.url %></h3>

  <% if publication.data.author %>
    <% if publication.data.author_site %>
      <p class="no-margin">by <%= link_to publication.data.author, publication.data.author_site %></p>
    <% else %>
      <p class="no-margin">by <%= publication.data.author %></p>
    <% end %>
  <% end %>

  <% if publication.data.artist %>
    <% if publication.data.artist_site %>
      <p class="no-margin-top">art by <%= link_to publication.data.artist, publication.data.artist_site %></p>
    <% else %>
      <p class="no-margin-top">art by <%= publication.data.artist %></p>
    <% end %>
  <% end %>

  <%# if publication.data.available === true %>
    <%# link_to 'Buy', "/" %>
  <%# else %>
    <%# link_to 'Out of Print', "/" %>
  <%# end %>
</div>
<% end %>