extends layout

block prepend description
  meta(name='description', content= locals.description)

block hero
  section(class='hero homepage ', style='background-image: url(/img/hero.jpg)')
    div.title-wrap.constrain
      h2.white.center.title lone goose press

block content
  div.panel.constrain
    section
      !=contents['homepage.md'].html

block latest
  div.constrain
    each article, i in articles
      if i === 0
        h2
          a(href= locals.url + article.url)= article.title
        p= article.date
        p= article.metadata.description

  div.constrain
    - var project = contents['broadsides.json'].metadata.collection[0]
    h2
      a(href= locals.url + project.url)= project.title
    p= project.author
    p= project.description